* {
  margin: 0;
  padding: 0;
}
:root {
  font-size: 1.5rem;
}
body {
  background: url(background.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.header {
  display: flex;
  background-color: #d29d9deb;
  width: 100%;
  justify-content: space-between;
  opacity: 0.9;
}

.logo-container {
  margin: 0.6%;
}
.logo-container h1 {
  font-size: 1.3rem;
  padding: 10px;
  font-family: monospace;
  background-color: white;
  border-top-left-radius: 10px;
  transition: 0.3s;
}
.logo-container h1:hover {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  background-color: black;
  transition: 0.6s ease-in 0.3s;
}
.header-navigator {
  margin-top: 10px;
}
.header-navigator-bar {
  display: flex;
  margin-top: 10px;
  list-style-type: none;
}
.form-section {
  margin-top: 10px;
  margin-right: 10px;
}
.btn-top-left-radius {
  border-top-left-radius: 10px;
}
.btn-bottom-right-radius {
  border-bottom-right-radius: 10px;
}
.header-navigator-bar a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px;
  margin-left: 2px;
  font-size: 0.8rem;
  font-family: monospace;
}
.header-navigator-bar a:hover {
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: black;
  color: #c08b84;
  font-weight: bolder;
  transition: 0.3s ease-in;
  box-shadow: 5px 5px 8px rgb(209, 177, 177);
}
/* for tablet*/
@media (max-width: 666px) {
  .header-navigator {
    margin-top: 5px;
    transition: 1s ease-in-out 0.2s;
  }
  .header-navigator-bar a {
    font-size: 0.8em;
  }
  .logo-container {
    margin-top: 12px;
    transition: 1s ease-in-out 0.3s;
  }
  .logo-container h1 {
    font-size: 0.8em;
  }
  .form-section {
    margin-top: 5px;
    transition: 1s ease-in-out 0.2s;
  }
}
/* for responive  start*/
@media (max-width: 556px) {
  .header-navigator-bar a {
    font-size: 0.7em;
    padding: 8px;
  }
  .logo-container h1 {
    font-size: 0.8em;
    padding: 8px;
  }
}
@media (max-width: 480px) {
  .header-navigator {
    margin-top: 10px;
  }
  .header-navigator-bar a {
    padding: 4px;
  }
  .logo-container h1 {
    padding: 4px;
    margin-top: 9px;
  }
  .form-section {
    padding: 4px;
  }
}
@media (max-width: 435px) {
  .header-navigator-bar a {
    padding: 1px;
    font-size: 0.2em;
  }
  .logo-container {
    margin-top: 16px;
  }
  .logo-container h1 {
    padding: 2px;
    font-size: 0.2em;
  }
}
.catogries-bar {
  width: 99%;
  margin-top: 1%;
  margin-left: 5px;
  background-color: rgba(250, 236, 49, 0.74);
  font-size: 0.95rem;
  font-family: monospace;
  padding: 0.3%;
  border-radius: 5px;
}
.list-bar {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.list-bar li {
  padding: 0.5%;
  margin-left: 2px;
  background-color: rgba(230, 29, 29, 0.753);
  opacity: 0.9;
}
.list-bar li:hover {
  border-top: 5px solid rgb(0, 0, 0);
  color: rgba(250, 236, 49, 0.74);
  font-weight: 900;
  opacity: 1;
  background: linear-gradient(
    to right,
    rgb(255, 51, 0),
    rgba(238, 62, 62, 0.712),
    rgba(189, 0, 0, 0.76)
  );
  transition: 0.3s ease;
}
.anime-panel {
  width: 70%;
  height: auto;
  background-color: rgba(59, 4, 4, 0.692);
  margin: 3%;
  border-radius: 5px;
}
.heading {
  width: 96%;
  margin: 2%;
  height: auto;
  background-color: #9b5858bd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.heading h1 {
  font-family: sans-serif;
  text-align: center;
  font-weight: 600;
  color: ;
  font-size: 100%;
  text-shadow: 2px 2px 2px grey;
}
.heading h1:hover {
  background-color: #6e584bc5;
  color: rgb(235, 175, 108);
  border-radius: 10px;
  transition: 0.4s ease-in;
}
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.anime-img-size {
  display: inline-flex;
  width: 30%;
  min-width: 300px;
  height: 10.5rem;
  margin: 10px;
  border-radius: 3px;
}
.episode-container {
  width: 96%;
  height: 11.3rem;
  position: relative;
  display: block;
  background-color: #9b58589f;
  margin: 2%;
  border-radius: 5px;
}
.episode-container:hover {
  background-color: #6e584bc5;
  color: rgb(235, 175, 108);
  border-radius: 10px;
  transition: 0.4s ease-in;
}
.episode-details {
  display: inline-block;
  font-family: monospace;
  position: absolute;
  width: 60%;
  height: 100%;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 100%;
}
.details a {
  text-decoration: none;
  color: #fb8876;
}
.details a:hover {
  color: beige;
}
.Page-Details {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 400px;
  background-color: #d29d9dba;
}
.footer-owners-container {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 370px;
  margin-top: 12px;
  border-right: 3px solid rgba(238, 109, 130, 0.692);
  border-left: 3px solid rgba(238, 109, 130, 0.692);
}
.footer-owner-name {
  color: #5a3a3ae0;
  font-size: 2rem;
  font-family: monospace;
  font-style: italic;
  padding: 30px;
}
.footer-contacts {
  width: 60%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 20px;
}
.footer-contacts a {
  text-decoration: none;
  color: #382525;
  font-size: 1.4rem;
  font-family: sans-serif;
}
.footer-contacts i {
  padding: 5px;
}
.footer-contacts a:hover {
  font-size: 1.5rem;
  color: blue;
  transition: 0.5s ease-in;
}
